RewriteEngine On
RewriteBase /Tourie/

# Chuyển tất cả request đến index.php trừ các file/tệp thật sự tồn tại
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]