RewriteEngine On
RewriteBase /Tourie/

# nếu request là file hoặc thư mục có thật thì bỏ qua
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# admin routes
RewriteRule ^admin/?(.*)$ admin.php?url=$1 [L,QSA]

# client routes
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]